@media{

    
    #title_photo{
    width: 100%}
   
    .caption{
        font-size: 12px}
    
    h1 {
        color: #E02D2D;
        font-size: 30px;
        text-align: center;
        font-family: 'PT Serif Caption', serif}
    
    #byline{
        text-align: center;
        font-size: 25px}
    
    #date{
        font-size: 20px;
        font-family: 'Arial';
        text-align: center}
    
    #chapters{
        color: #4BA3C3;
        font-family: 'PT Serif Caption', serif;
        font-style: italic;
        font-size: 20px;
        text-align: center;}
    
    #nav{
        font-family: 'Arial';
        font-size: 14px;
        text-align: center;
        text-decoration: underline;
        text-decoration-color: #4BA3C3}
    
    #nav a{color: #4BA3C3}
    
    #nav a:hover{color: #E02D2D}
    
    .italicized{
        font-style: italic}
    
    .photos{
        align-content: center;
        width: 100%}
    
    

    .subhead{
        font-family: 'PT Serif Caption', serif;
        color: #E02D2D;
        font-size: 30px;
        text-align: left}
            
    .pull_quote{
        font-family: 'PT Serif Caption', serif;
        color: #E02D2D;
        font-size: 20px;
        margin-bottom: 5px;
        border: 1px solid #4BA3C3;
        padding: 10px}
    
    .body{width: 80%}
    
}


@media (min-width:576px) {
    h1{font-size: 40px}
    #chapters{font-size: 25px}
    #nav{font-size: 20px}
    #byline{font-size: 20px}
    .pull_quote{font-size: 20px}
     
}

@media (min-width:776px) {
    h1{font-size: 45px}
    #chapters{font-size: 30px}
    #nav{font-size: 22.5px}
    #byline{font-size: 22.5px}
    .pull_quote{font-size: 22.5px}
     
}

@media (min-width:992px) {
    h1{font-size: 60px}
    #chapters{font-size: 35px}
    #nav{font-size: 30px}
    #byline{font-size: 30px}
    .pull_quote{font-size: 30px}
    
}
